set d/1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="address">
          <xs:complexType>
            <xs:attribute name="state" type="xs:string" use="required"/>
            <xs:attribute name="city" type="xs:string" use="required"/>
            <xs:attribute name="municipality" type="xs:string" use="required"/>
            <xs:attribute name="home-number" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
